/* Montserrat and Crimson */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Montserrat:wght@300;400;700&display=swap');

/* Global declarations */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* Assist in element sizing calculation (border-box)*/
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    /* Add font-style */
}

/* -- Hero Section CSS -- */
#hero {
    background-image: url(images/Header-Image.jpg);
    /* Add Credits Later */
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

/* Overlay Gradient */
#hero::after {
    content: '';
    background-color: #000; /* Change Color Later */
    opacity: .7;
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

/* Aligns header content to left when enlarged */
#hero .hero {
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1200px;
}

#hero h1 {
    display: block;
    color: #fff; /* Change Colors soon */
    font-size: 4rem;
    letter-spacing: .09rem;
    width: fit-content;
    position: relative;
    /* Add animations later in 
    addition to missing elements */
}

#hero .cta {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    color: #ffc72c; /* Change color Later */
    background-color: #da291c; /* Change color Later */
    border-radius: 24px;
    padding: 10px 30px;
    margin-top: 36px; /* Replace Sizing Later*/
    /* Add Transition Later */
}

/* Animations */
/*
    --- Add Animation later ---
    -- Add Keyframes Later --
*/
/* -- End of Hero Section CSS -- */

/* -- CSS of Main Contents --*/
#intro .intro, 
#event-info .event-info, 
#registration .registration{
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1500px;
}

.standard-header {
    text-align: center;
    color: #000; /* Check later if there is a  better color combination */
    font-size: 4rem;
    font-weight: 600; /* Replace to more appealing weight*/ 
    letter-spacing: .1rem; /* Check to see if different sizing is better*/
    margin-bottom: 10px;

}

/*Exclamation point of Welcome header*/
#intro span {
    color: #da291c; /* Check later if there is a  better color combination */
}

#intro .intro-content p,
#event-info .event-content p,
#registration .registration-content p {
    padding: 0 1.5rem; /*Adjust later */
    font-family: 'Crimson', serif;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2.5rem;
}

#registration .cta {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    color: #ffc72c;
    background-color: #da291c;
    border-radius: 24px;
    margin-top: 16px; /* Replace distance later */
    padding: 10px 30px;
}

/* -- End of CSS of Main Contents -- */