/* Header / Navigation CSS */
#navigation .header {
    min-height: 8vh;
}

#navigation .material-icons {
    color: #7f8084;
    font-size: 38px;
}

/*End of Header / Navigation CSS */

/* Card CSS */
#campus .campus {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#campus .campus-card {
    width: 400px;
}

#campus .campus-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 14px 0 #54565b; /* Experiment with colors */
    width: 80%;
    padding: 20px;
    margin: 30px;
    transition: .3s ease box-shadow;
}

#campus .club-card {
    padding: 25px;
}

#campus .campus-card:hover {
    box-shadow: 0px 0px 5px 0px #54565b;
}

#campus .campus .title {
    color: #da291c;
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
}

#campus .campus-card .icon img {
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

#campus .campus .campus-card h1 {
    color: #da291c;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    margin-bottom: -5px;
}

#campus .campus .campus-card .makati {
    color: #ffc72c;
}

/* CSS for Club-info */
#campus .club-card .club-info h2 {
    color: #54565b;
    font-size: 13px;
    text-decoration: underline;
    margin: 3.5px 0;
}

#campus .club-card .club-info .soc-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

#campus .club-card .club-info .soc-media .fa {
    color: #3d3f42;
    font-size: 3.5rem;
    margin: 2px 4px 0 4px;
}

/* -- End of Card CSS -- */

/* Media Query for responsive design */

/* Tablets and desktops */
@media only screen and (min-width: 800px) {
    #navigation .header .nav-bar {
        padding-right: 3px;
    }

    #campus .campus {
        flex-direction: row;
        /* For club grid */
        flex-wrap: wrap;
    }

    #campus .campus .title {
        margin: 0 30px;
        text-decoration: underline 2px;
    }
    
    #campus .campus-card {
        width: 400px;
        margin: 12px;
    }

    #campus .club-card .club-info h2 {
        font-size: 1.75rem;
        margin: 6.5px 0;
    }

    #campus .club-card .club-info h2.oversized {
        font-size: 1.45rem;
        margin: 8px 0;
    }

}

@media only screen and (min-width: 1200px) {
    #campus .campus .title {
        margin: 0;
        margin-right: 30px;
    }

    #campus .campus .club-card .club-info h1 {
        font-size: 3rem;
        margin-top: 0;
    }

    #campus .club-card {
        width: 350px;
    }
}